{% extends "base_template.html" %}

{% block title %}Car Detail{% endblock %}
{% block extra_css %}

{% endblock%}
{% block content %}
<div class="container">
    <div class="">
        <div class="container-images">
            <img src="../static/images/camaro.jpg" alt="">
        </div>
        <ul>
            <div>
                <li>Make:{{ car.make }}</li>
                <li>Model:{{ car.model }}</li>
                <li>Year:{{ car.year }}</li>
            </div>
            <div>
                <li>Price:{{ car.price }}</li>
                <li>Slug:{{ car.slug }}</li>
            </div>
        </ul>
    </div>

</div>
<section>
    <h2>
        Similar Cars
    </h2>
    <div>
        <div class="images-car-similar">
            <img src="../static/images/lamborghini.jpg" alt="">
        </div>
        <div>
            <p>lamborghini performante</p>
            <p>%180.000</p>
        </div>
    </div>
</section>
{% endblock %}
