{% extends "base_template.html" %}

{% block title %}Welcome{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}
{% block content %}
<div class="cointainer-index">
    <section class="section-filters">
        <h2>Filters</h2>
        <ul>
            <li><a href="">New Cars</a></li>
            <li><a href="">Used Cars</a></li>
        </ul>
    </section>
    <main class="main-cars">
        <h2>Avaliable cars!</h2>
        <section class="section-cars">
            <div class="cointainer-post">
                <div class="cointainer-image">
                    <img src="../static/images/camaro.jpg" alt="">
                </div>
                <p>2023 Red Sports Car</p>
                <div class="view-mas">
                    <p>$50.000</p>
                    <button class="button-detail">
                        <a href="">View details</a>
                    </button>
                </div>
            </div>
            <div class="cointainer-post">
                <div class="cointainer-image">
                    <img src="../static/images/lamborghini.jpg" alt="">
                </div>
                <p>2023 Red Sports Car</p>
                <div class="view-mas">
                    <p>$50.000</p>
                    <button class="button-detail">
                        <a href="">View details</a>
                    </button>
                </div>
            </div>
            <div class="cointainer-post">
                <div class="cointainer-image">
                    <img src="../static/images/mustang.jpg" alt="">
                </div>
                <p>2023 Red Sports Car</p>
                <div class="view-mas">
                    <p>$50.000</p>
                    <button class="button-detail">
                        <a href="">View details</a>
                    </button>
                </div>
            </div>
        </section>
    </main>
</div>
{% endblock %}
