{% extends "base_template.html" %}

{% block title %}Welcome{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}
{% block content %}
<div class="cointainer-index">
    <section class="section-filters">
        <h2>Filters</h2>
        <ul>
            <li><a href="">New Cars</a></li>
            <li><a href="">Used Cars</a></li>
        </ul>
    </section>
    <main class="main-cars">
        <h2>Avaliable cars!</h2>
        <section class="section-cars">
            {% for car in cars %}
                <div class="cointainer-post">
                    <div class="cointainer-image">
                        <img src="{{ url_for('static', filename=car.image_filename) }}" alt="">
                    </div>
                    <div class="information-car">
                        <div>
                            <p>{{car.model}}</p>
                            <p>{{car.price}}</p>
                        </div>
                        <div class="view-mas">
                            <button class="button-detail">
                                <a href="{{ url_for('car_detail', slug=car.slug)}}">View details</a>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
</div>
{% endblock %}
