{% extends "base_template.html" %}

{% block title %}Sign Up{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='signup_forms.css')}}">
{% endblock %}
{% block content %}
    <div class="form-container">
        <h2>Sign Up</h2>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.name.label }}<br>
                {{ form.name(class="input-field") }}
                {% for error in form.name.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.email.label }}<br>

                {{ form.email(class="input-field") }}
                {% for error in form.email.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.password.label }}<br>
                {{ form.password(class="input-field") }}
                {% for error in form.password.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>

            <button type="submit" class="sign-up">Sign Up</button>
        </form>
        <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
    </div>
{% endblock %}
